html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 505px;
    height: 260px;
    padding-top:30px;
    padding-left:15px;
}

.flag {
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}

.ireland {
  background-image: linear-gradient(to right, #009b48, #009b48 33%, #ffffff 33%, #ffffff 66%, #ff7900 66%, #ff7900 100% )
}
.columbia {
  background-image: linear-gradient(#fcd116, #fcd116 50%, #003893 50%, #003893 75%, #ce1126 75%, #ce1126 100%)
}
.mexico {
  background-image: linear-gradient(to right, #006847, #006847 33%, #ffffff 33%, #ffffff 66%, #ce1126 66%, #ce1126 100% )
}


    background-position: 50px 0;
    background-repeat: no-repeat;
}
